@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  /* overflow: hidden; */
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #212121;
  color: #f4e0b9;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1%;
}

body .new {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: aquamarine;
  font-size: large;
  font-weight: 500;
}

h4 {
  text-transform: capitalize;
}
.card {
  width: 100%;
  height: 14rem;
  background: linear-gradient(to bottom right, #7d7463, #a8a196);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: anni 1.5s linear 0s alternate;
}

.card .profile {
  display: flex;
  align-items: center;
}

.card .profile .img {
  padding: 0.7em 0.7em 0 0.7em;
}

.card .profile .img img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.card .profile .about h4 {
  padding-left: 0.7em;
  padding-top: 0.5em;
}

.card .profile .about p {
  padding-left: 1em;
  font-size: 0.67rem;
}

.card .follow {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
}

.card .place {
  padding: 0.7em;
}

.card .follow .followers p a,
.card .follow .following p a {
  color: #e1960a;
  padding-left: 1.8em;
}

.card .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1084px) {
  body {
    grid-template-columns: auto auto;
  }
  body .new {
    height: 8vw;
    width: 8vw;
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  body {
    padding: 3%;
    grid-template-columns: auto;
    gap: 1%;
  }
  body .new {
    height: 15vw;
    width: 15vw;
    font-size: 32px;
  }
  .card {
    height: 14rem;
  }
}

@keyframes anni {
  0% {
      translate: 0 50vh;
      transform: rotate(90deg);
  }
  50%{
    translate: 0 25vh;
    transform: rotate(45deg);
  }
  95%{
    translate: -3vh -2vh;
    transform: rotate(-10deg);
  }
  100% {
      translate: 0 0;
      transform: rotate(0deg);
  }
}